<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	testdox="true"
	cacheDirectory="tests/phpunit/.cache"
	failOnWarning="true"
	failOnRisky="true">
	<testsuites>
		<testsuite name="unit">
			<directory>tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
	</source>
</phpunit>
